<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unattended" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <unattended>
    <clientid>demo</clientid>
    <configurationDirectory>..\Unattended.Test\TestFiles</configurationDirectory>
    <updates>
      <strategy>prompt</strategy>
      <interval>daily</interval>
      <channel>stable</channel>
    </updates>
    <target>
      <basePath>..\SampleApplication\bin\Debug</basePath>
      <filename>SampleApplication.exe</filename>
      <parameters>-key -sample=value</parameters>
    </target>
  </unattended>
</configuration>